<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SQLNexus_Artifact_Feed" 
         value="https://pkgs.dev.azure.com/Data-AI-Supportability/DTP-Dev-Tools/_packaging/SQLNexus_Artifact_Feed/nuget/v3/index.json" />
  </packageSources>
</configuration>

