<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sqlnexus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sqlnexus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="rbWindows.Checked" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <sqlnexus.Properties.Settings>
      <setting name="ShowMainMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStandardToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDataCollectionToolbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowReportToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQLDiagStartDontAsk" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQLDiagStopDontAsk" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQLDiagAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SQLDiagAutoStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowReportNavigator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QueryTimeout" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="ShowReportTabs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImporterOptions" serializeAs="String">
        <value>&lt;root&gt;&lt;/root&gt;</value>
      </setting>
      <setting name="LastUsedServerName" serializeAs="String">
        <value />
      </setting>
    </sqlnexus.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <sqlnexus.Properties.Settings>
      <setting name="Expired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpiredMsg" serializeAs="String">
        <value>This beta version of application has expired. Please uninstall from add/remove programs and re-install a new version.</value>
      </setting>
    </sqlnexus.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>